.Reviews {
  margin-top: 60px;
}

.Reviews img {
  width: 300px;
  height: 300px;
}

.Reviews ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
}

.Reviews li {
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
.Reviews li p {
  width: 300px;
  text-align: center;
}

.page-selector {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.page-selector p {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 20px;
  height: 40px;
}
.page-selector button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 40px;
}

@media only screen and (min-width: 960px) {
  .Reviews li {
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0px;
  }
}
