.Reviews {
  margin-top: 60px;
}

img {
  width: 200px;
  height: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  display: flex;
}
li {
  width: 400px;
  height: 400px;
  margin: auto;
}

.page-selector {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.page-selector p {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 20px;
  height: 40px;
}
.page-selector button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 40px;
}
